:root {
  --main-bg-color: #161819;
  --main-fg-color: white;
  --accent-fg-upper-color: #eca94a;
  --accent-fg-lower-color: #ffd966;
  --accent-fg-color: -webkit-linear-gradient(
    var(--accent-fg-upper-color),
    var(--accent-fg-lower-color)
  );
}

body {
  background: var(--main-bg-color);
  color: var(--main-fg-color);
  font-size: 32px;
  font-family: "Inter", sans-serif;
  font-weight: 200;
}

.page {
  max-width: 1024px;
  margin: auto;
  padding: 32px;
}

.accent {
  background: var(--accent-fg-color);
  background-clip: border-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.title {
  margin: 144px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.title .secondary {
  margin: 0 0 48px;
}

.title img {
  max-width: 100%;
}

.secondary {
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 5px;
  opacity: 30%;
}

@media only screen and (min-width: 768px) {
  /* tablets and desktop */

  .content .column {
    width: calc(50% - 24px);
  }
}

.content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.content .column {
  margin-bottom: 32px;
}

.signature {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.signature img {
  margin: 0 20px;
}
